//foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

@import "base/variables";

body {
  background-color: $black;
  color: $white;
}

.content {
  background-color: $brown;
}
